#dashboard-main {
  background-color: #151b3b;
  min-height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
}

#dash-section {
  background-color: #25174dde;
  width: 81%;
  padding: 20px;
  margin: 30px;
  box-sizing: border-box;
}

#dash-h2 {
  color: #ffffff;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

#table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#influenciador-h2 {
  color: rgb(238, 5, 187);
}
