.influencer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.form-group {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  color: #444;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="url"],
.form-group input[type="file"] {
  padding: 10px;
  margin-top: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: border-color 0.3s;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  max-height: 160px;
  overflow-y: auto;
  border-radius: 9px;
  padding: 10px;
  margin-top: 11px;
}

.categories::-webkit-scrollbar {
  width: 5px;
  background-color: white;
  border-radius: 15px;
}

.categories::-webkit-scrollbar-thumb {
  background-color: #264e81;
  border-radius: 7px;
}

.categories div {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.categories input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 5px;
}

.photo-upload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.photo-upload img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #e9ecef;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 1px 37px 20px 1px;
  transition: background-color 0.3s;
  align-self: flex-end;
}

.submit-button:hover {
  background-color: #0056b3;
}
